@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-background {
    height: 20vw;
    background-color: #46C894;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-profile {
    margin-top: -7%;
}

.shape{
    background-color: rgba(255,255,255,.3);
    height: 12px;
    margin-inline: auto;
    width: 85%;
    box-shadow: 0 1px 15px 1px rgb(52 40 104 / 8%);
    border-radius: 4px 4px 0 0;
}

.shape-1{
    background-color: rgba(255,255,255,.6);
    height: 15px;
    width: 95%;
    box-shadow: 0 1px 15px 1px rgb(52 40 104 / 8%);
    border-radius: 4px 4px 0 0;
    margin-inline: auto;
}

.banner-profile-item {
    background-color: white;
    border-radius: 4px;
    padding: 10px 0px 0px 0px;
    box-shadow: 0 1px 15px 1px rgb(52 40 104 / 36%)
}

.counters-information {
    align-self: center;
    text-align: center;
}

.list-counters-information > li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 2px;
}

.counter {
    color: #1E173D;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Open Sans;
}

.heading{
    color: #8991AA;
    font-size: 1rem;
    font-family: Open Sans;
}

.profile-photo {
    width: 150px;
    height: 150px;
    margin-top: -80px;
    margin-inline: auto;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 5px rgb(255 255 255);
}

.infos {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.8rem;
}

.infos h2 {
    color: #1E173D;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: .2rem;
    font-family: Open Sans;
}

.location {
    color: #8991AA;
    font-size: 1rem;
    font-family: Open Sans;
}

.btn-contact {
    color: #fff;
    padding: 10px 35px;
    font-weight: 600;
    border: none;
    position: relative;
    font-family: Open Sans;
    background-color: #46C894;
    display: inline-block;
    border-radius: 90px;
    animation: pulse 1s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  
}

.btn-contact-container {
    align-self: center;
    margin-inline: auto;
    text-align: center;
}

.menu {
    text-align: center;
}

.menu > ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0.8rem;
}

.menu > ul > li > a {
    padding: 1rem 0;
    color: #1E173D;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: Open Sans;
}


.menu > ul > li > a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #46C894;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.menu > ul > li > a:hover:after { 
    transform: scaleX(1); 
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }
    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}
  
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
}

@media only screen and (max-width: 600px) {
    .profile-photo {
        margin-top: auto;
    }
    .counters-information {
        display: none;
    }
    .row {
        --bs-gutter-x: 0 !important;
        --bs-gutter-y: 0 !important;
    }
}